body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}


.header-frame {
    width: 100%;
    height: auto; 
    border: none;
}

.logo img {
    height: 50px;
}

.business-info {
    flex: 1;
    text-align: center;
}

nav {
    display: flex;
    gap: 10px;
}

nav button {
    background-color: #2f00ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #19024b;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
}

.menu-item {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
    color: black
}

.menu-item:hover {
    transform: scale(1.05);
}


.menu-item h3 {
    margin: 10px 0;
}

.menu-item img {
    width: 100%;
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px;
}
