header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: rgb(160, 150, 150);
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}


header .logo img {

    height: 50px;
    width: auto;
}

header .business-info {
    font-size: 14px;
}

header nav {
    display: flex;
    gap: 15px;
}

nav {
    display: flex;
    gap: 10px;
}

.nav-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #5c6bc0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #4e61cb;
}

.nav-button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
