header {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color:#141f29;
    color: rgb(160, 150, 150);
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}



.header-frame {
    width: 100%;
    height: auto; 
    border: none;
}


header .logo img {

    height: 50px;
    width: auto;
}

header .business-info {
    font-size: 14px;
}

header nav {
    display: flex;
    gap: 15px;
}

nav {
    display: flex;
    gap: 10px;
}

.nav-button {
    display: inline-block;
    vertical-align: center;
    padding: 10px 15px 10px 15px;
    background-color: #355c76;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


.cart-button{
    padding-left: 15px;
}
.nav-button:hover {
    background-color: #284254;
}

.nav-button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
